<% list.items.each do |item| %>
  <div><%= item.body %></div>

  <% if current_user %>
    <%= flash[:notice] = "Item successfully saved!" %>
  <% else %>
    <%= flash[:notice] = "Please sign in!" %>
  <% end %>

  

<% end %>